*{
    margin: 0;
    padding: 0;
}
:root{
    --bgprimary:white;
    --bgsecondary: black;
    --bgtertiary:cornsilk;
    --fontsize:2.5rem;
    --padding:4rem;
}
/* NAV BAR */
nav{
    height: 14vh;
    width: 100%;
    background-color:var(--bgsecondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul li{
    display: inline;
  }
  nav a{
    font-size: 2rem;
    color:var(--bgprimary);
    padding: 6px 10px;
    transition: .5s;
    text-decoration: none;
  }
  nav a:hover{
   color: var(--bgtertiary);
   box-shadow: var(--bgtertiary) 0px 25px 20px -20px;
  }
  .logo{
    margin-right:20%;
  }
  @media(max-width:768px){
    nav{
      height: 18vh;
      width: 100%;
    }
  }
  @media(max-width:425px){
    nav{
      height: 20vh;
      width: 100%;
    }
  }
  /* navbar end */
  
  /* --SLIDER-- */
   * { box-sizing: border-box; }
  
  body { font-family: sans-serif; }
  
  .carousel-cell1 {
    width: 100%;
    height: 100vh;
    background-image:url(../media/image1.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel-cell2 {
    width: 100%;
    height: 100vh;
    background-image:url(../media/nav.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel-cell3 {
    width: 100%;
    height: 100vh;
    background-image:url(../media/Untitled_design_4_ee31f0ea-a8ec-4507-92c0-7f46159c0476.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel-cell4 {
    width: 100%;
    height: 100vh;
    background-image:url(../media/Untitled_design_6.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel-cell:before {
    line-height: 200px;
  }
  @media(max-width:320px){
    .carousel-cell1 {
      width: 100%;
      height: 100vh;
      background-image:url(../media/1_e69ac1c7-d91c-46c6-bfd1-166edfd472b4.webp) ;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .carousel-cell2 {
      width: 100%;
      height: 100vh;
      background-image:url(../media/nav.webp) ;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .carousel-cell3 {
      width: 100%;
    height: 100vh;
    background-image:url(../media/Untitled_design_4_ee31f0ea-a8ec-4507-92c0-7f46159c0476.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    .carousel-cell4 {
      width: 100%;
      height: 100vh;
      background-image:url(../media/Untitled_design_6.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    } 
  }
  /* --END-- */
  /* --ABOUT US-- */
.about{
    height: auto;
    width: 100%;
    background-color: var(--bgsecondary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: var(--padding);
  }
  .hrabout{
    width: 85%;
    margin-bottom: 10px;
  }
  .textabout{
    width: 60%;
    color: var(--bgprimary);
    box-sizing: border-box;
  }
  .aboutus{
    color:var(--bgprimary) ;
    font-size: var(--fontsize);
    letter-spacing: 3px;
  }
  .aboutpara{
    line-height: 1.5;
    font-size:var(--pfont);
    margin-bottom: 10px;
  }
  .button {
    all: unset;
    width: 50px;
    border: none;
    position: relative;
    color: rgb(80, 49, 27);
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button::after,
  .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99;
    transition: all .4s;
  }
  
  .button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: cornsilk;
    border-radius: 10px;
  }
  
  .button::after {
    transform: translate(10px, 10px);
    width: 30px;
    height: 30px;
    background: rgb(88, 88, 88);
    border-radius: 50px;
  }
  
  .button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
  .aboutimg{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url(../media/4_5df99928-2e43-41c9-9b6b-c7610e4a24fd.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 @media(max-width:768px){
  .about{
    height: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .aboutimg{
    height: 200px;
    width: 200px;
  } 
  .hrabout{
    width: 45%;
    margin: auto;
    margin-bottom: 10px;
  }
  .textabout{
    width: 90%;
    color: var(--bgprimary);
    box-sizing: border-box;
    text-align: center;
    place-items: center;
  }
}
@media(max-width:425px){
  .about{
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .textabout{
    width: 50%;
    color: var(--bgprimary);
    box-sizing: border-box;
    text-align: center;
  }
}
@media(max-width:320px){
  .about{
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    place-items: center;
  }
}
  /* -----END------ */
  /* ---OUR CLIENT VIEWS--- */
.slider{
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  padding: var(--padding);
  place-items: center;
 }
 .clientviews{
  font-size: var(--fontsize);
  letter-spacing: 3px;
 }
 .hrclients{
  width: 28%;
  margin: auto;
  margin-bottom: 10px;
 }
 .clientsp{
  font-size: 14px;
  padding: 5px;
 }
swiper-container {
  width: 100%;
  height: 100%;
  background-color:var(--bgsecondary) ;
}

swiper-slide {
  width: 50%;
  background:var(--bgsecondary);
  color: var(--bgprimary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.slideimg {
 height: 100px;
 width: 100px;
 border-radius: 50%;
 border:1px solid cornsilk ;
 background-image: url(../media/download\ \(4\).jpeg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin: auto;
}
.slidetext p{
  padding: 10px;
  width: 50%;
  margin: auto;
}
.star{
margin-bottom: 5px;
}
.buttonclient {
    all: unset;
    width: 50px;
    border: none;
    position: relative;
    color: rgb(80, 49, 27);
    z-index: 1;
    padding: 10px 20px;

  }
  
  .buttonclient::after,
  .buttonclient::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99;
    transition: all .4s;
  }
  
  .buttonclient::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: cornsilk;
    border-radius: 10px;
  }
  
  .buttonclient::after {
    transform: translate(10px, 10px);
    width: 30px;
    height: 30px;
    background: rgb(88, 88, 88);
    border-radius: 50px;
  }
  
  .buttonclient:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .buttonclient:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .buttonclient:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
  @media(max-width:768px){
    .slider{
      height: auto;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
     }
    }
/* ---END-- */
/* --login-- */
.login{
  height: auto;
  width: 100%;
  background-color: var(--bgsecondary);
  color: var(--bgprimary);
  letter-spacing: 3px;
  place-content: center;
  padding: var(--padding);
}
.pictext{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-content: center;
  align-items: center;
  place-self: center;
  padding: 30px;
}
.getintouch{
  justify-content: center;
  text-align: center;
  color:var(--bgprimary) ;
  font-size: var(--fontsize);
  letter-spacing: 3px;
}
.hrsale{
  width: 25%;
  margin: auto;
}
.form3 input{
  background: transparent;
  color: white;
  border: 1px solid ;
  padding: 25px 115px;
  box-shadow: rgba(231, 237, 243, 0.2) 0px 8px 24px;
}
.pic{
height: 40vh;
width: 100%;
background-image:url(../media/new.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
@media(max-width:768px){
  .hrsale{
    width: 45%;
    margin: auto;
  }
  .form3 input{
    padding: 25px 80px;
  }
  .pictext{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;
    place-self: center;
  } 
  .pic{
    height: 150px;
    width: 350px;
    background-image:url(../media/new.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    place-self: center;
    }
}
@media(max-width:320px){
  .pictext{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;
    place-self: center;
  } 
  .form3 input{
    background: transparent;
    color: white;
    border: 1px solid ;
    padding: 25px 50px;
    box-shadow: rgba(231, 237, 243, 0.2) 0px 8px 24px;
  }
  .pic{
    height: 100px;
    width: 300px;
    background-image:url(../media/new.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
}
/* --end-- */
/* --footer-- */
.footer{
  height: auto;
  width: 100%;
  background-color: black;
  place-items: center;
  color: white;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.3rem;
}
.one p{
  padding: 10px;
  font-size:20px ;
  letter-spacing: 1px;
}
.one h5{
  padding: 10px;
}
.footericons{
  color: cornsilk;
  padding: 20px;
  justify-content: center;
  font-size: 30px;
}
@media(max-width:768px){
  .footer{
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .grid{
    display: grid;
    grid-template-columns: 2fr 2fr ;
   }
}
@media(max-width:320px){
  .grid{
    display: grid;
    grid-template-columns: 4fr;
    gap: 50px;
   }
}
/* ----END---- */
